head    {
    background-color: black;
    text-decoration-color: bisque;
    width: 900px;
}
h1      {
    background-color: black;
    height: 100px;
    color: aliceblue;
    width: 900px;
    text-align: center;
    border-color: aliceblue;
    border: 1px;
    border-style: groove;
    margin-left: 25%;

}

.contact    {
    float: right;
    width: 10%;
    height: 5%;
    border-style: solid;

}

.portfolio    {
    float: right;
    width: 10%;
    height: 5%;
    border-style: solid;

}

body    {
    background-color: black;
    color: white;
    size: 960px;
}

.top    {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}

.top2   {
    width: 900px;
}