head    {   
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-color:#eeeeee#fff;
}

h1               {
    height: 100%;
    background-color:  #4aaaa5;
    padding-left: 25px;
    padding-top: 25px;  
    padding-bottom: 25px;
    width: 180px;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xxx-large;
    color-interpolation-filters: inherit;
    color: #eeeeee;
    font-style: oblique;
    background-color: #eeeeee#fff;
}
.buttons    {
    float: right;
    margin-top: -1.5%;
    margin-right: 10px;
    margin-bottom: 25px;
    color: #050505#fff;
    background-color: #eeeeee#fff;
}

body    {
    display: block;
    object-position: center;
    background-color: #eeeeee#fff;
    margin-top: 0px;
    border-color:  #666666#666;
    border-style: solid;
    color: #f7fdfd#fff;
    background-color: #eeeeee#fff;
}
.pictures   {
    height: 250%;
    width: auto;
    background-color: #eeeeee#fff;

}


